body {
  font-family: Arial, Helvetica, sans-serif;
}

.card { box-shadow: 0 2px 6px rgba(0,0,0,0.05); }

/* Remove number input spinners across browsers */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield; /* Firefox */
}
